Repository linkedin/iceberg, pull requests merged in 2021-07, with the labels that each got.

#78 Support hive non string partition cols
  api/src/main/java/org/apache/iceberg/expressions/And.java
  api/src/main/java/org/apache/iceberg/expressions/Or.java
  api/src/main/java/org/apache/iceberg/types/Conversions.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/legacy/HiveExpressions.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/legacy/LegacyHiveTableOperations.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/legacy/TestHiveExpressions.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/legacy/TestLegacyHiveTableScan.java
Labels: API, HIVE

#76 Support default value read for ORC format in spark
  api/src/main/java/org/apache/iceberg/types/Types.java
  orc/src/main/java/org/apache/iceberg/orc/ORCSchemaUtil.java
  orc/src/main/java/org/apache/iceberg/orc/OrcSchemaWithTypeVisitor.java
  spark/src/main/java/org/apache/iceberg/spark/OrcSchemaWithTypeVisitorSpark.java
  spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcReader.java
  spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ConstantArrayColumnVector.java
  spark/src/main/java/org/apache/iceberg/spark/data/vectorized/ConstantColumnVector.java
  spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkOrcReaders.java
  spark/src/main/java/org/apache/iceberg/spark/source/BaseDataReader.java
  spark/src/test/java/org/apache/iceberg/spark/data/TestSparkOrcReaderForFieldsWithDefaultValue.java
Labels: API, ORC, SPARK

#74 Support reading ORC complex union types
  orc/src/main/java/org/apache/iceberg/orc/ApplyNameMapping.java
  orc/src/main/java/org/apache/iceberg/orc/HasIds.java
  orc/src/main/java/org/apache/iceberg/orc/ORCSchemaUtil.java
  orc/src/main/java/org/apache/iceberg/orc/OrcSchemaVisitor.java
  orc/src/main/java/org/apache/iceberg/orc/OrcSchemaWithTypeVisitor.java
  spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcReader.java
  spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcValueReaders.java
  spark/src/main/java/org/apache/iceberg/spark/data/vectorized/VectorizedSparkOrcReaders.java
  spark/src/test/java/org/apache/iceberg/spark/data/TestSparkOrcUnions.java
Labels: ORC, SPARK

#80 Support avro.schema.literal/hive union types in Hive legacy table to …
  core/src/main/java/org/apache/iceberg/avro/AvroSchemaUtil.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/legacy/HiveSchemaWithPartnerVisitor.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/legacy/HiveTypeToIcebergType.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/legacy/HiveTypeUtil.java
  hive-metastore/src/main/java/org/apache/iceberg/hive/legacy/MergeHiveSchemaWithAvro.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/legacy/TestHiveSchemaConversions.java
  hive-metastore/src/test/java/org/apache/iceberg/hive/legacy/TestMergeHiveSchemaWithAvro.java
Labels: CORE, HIVE
