Repository linkedin/iceberg, pull requests merged in 2022-08, with the labels that each got.

#118 ORC: Handle query where select and filter only uses default value col…
  orc/src/main/java/org/apache/iceberg/orc/OrcIterable.java
  spark/src/test/java/org/apache/iceberg/spark/data/TestSparkOrcReaderForFieldsWithDefaultValue.java
Labels: SPARK, ORC

#121 Hive: Return null for currentSnapshot()
  hivelink-core/src/main/java/org/apache/iceberg/hivelink/core/LegacyHiveTable.java
Labels: SPARK

#123 Do not push down filter to ORC for union type schema
  orc/src/main/java/org/apache/iceberg/orc/OrcIterable.java
Labels: ORC

#124 Patch PR 3733 from upstream
  core/src/main/java/org/apache/iceberg/BaseTransaction.java
  core/src/test/java/org/apache/iceberg/TableTestBase.java
  core/src/test/java/org/apache/iceberg/TestReplaceTransaction.java
  core/src/test/java/org/apache/iceberg/TestTables.java
  core/src/test/java/org/apache/iceberg/TestTransaction.java
Labels: CORE
