Repository linkedin/iceberg, pull requests merged in 2022-06, with the labels that each got.

#101 Release automation overhaul: Sonatype Nexus, Shipkit and GH Actions
  .github/workflows/java-ci.yml
  build.gradle
  deploy.gradle
  shipkit.gradle
  tasks.gradle
  version.properties
  version.txt
Labels: BUILD, INFRA

#111 Add scm and developer info
  deploy.gradle
Labels: BUILD, INFRA

#112 Fix and refactor schema parser
  api/src/main/java/org/apache/iceberg/types/Types.java
  core/src/main/java/org/apache/iceberg/SchemaParser.java
  core/src/main/java/org/apache/iceberg/avro/AvroSchemaUtil.java
  core/src/test/java/org/apache/iceberg/TestSchemaParserForDefaultValues.java
  core/src/test/java/org/apache/iceberg/avro/TestSchemaConversions.java
Labels: CORE, API

#113 Enhance the UT for testing required fields with default values
  spark/src/test/java/org/apache/iceberg/spark/data/TestSparkAvroReaderForFieldsWithDefaultValue.java
Labels: SPARK
