Repository linkedin/iceberg, pull requests merged in 2022-04, with the labels that each got.

#96 Improve the logging when the deserailzed index is invalid to read the symbol from enum
  spark/src/main/java/org/apache/iceberg/spark/data/SparkValueReaders.java
Labels: SPARK, BUILD

#97 Modify method access in HiveTableOperations for PR migration
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveTableOperations.java
Labels: HIVE

#98 Handle non-nullable union of single type for Avro
  core/src/main/java/org/apache/iceberg/avro/AvroSchemaUtil.java
  core/src/main/java/org/apache/iceberg/avro/AvroSchemaWithTypeVisitor.java
  core/src/main/java/org/apache/iceberg/avro/SchemaToType.java
  core/src/test/java/org/apache/iceberg/avro/TestUnionSchemaConversions.java
  spark/src/main/java/org/apache/iceberg/spark/data/SparkAvroReader.java
  spark/src/test/java/org/apache/iceberg/spark/data/TestSparkAvroUnions.java
Labels: SPARK, CORE

#100 Handle null default in nested type default value situations
  core/src/main/java/org/apache/iceberg/SchemaParser.java
Labels: CORE
