Repository linkedin/iceberg, pull requests merged in 2022-05, with the labels that each got.

#102 Move 'Hive Metadata Scan: Support case insensitive name mapping' (PR 52) to hivelink-core
  build.gradle
  core/src/main/java/org/apache/iceberg/TableMetadata.java
  core/src/main/java/org/apache/iceberg/mapping/MappingUtil.java
  core/src/main/java/org/apache/iceberg/mapping/NameMapping.java
  hivelink-core/src/main/java/org/apache/iceberg/hivelink/core/LegacyHiveTableOperations.java
  hivelink-core/src/main/java/org/apache/iceberg/hivelink/core/schema/MergeHiveSchemaWithAvro.java
  hivelink-core/src/main/java/org/apache/iceberg/hivelink/core/utils/MappingUtil.java
  hivelink-core/src/test/java/org/apache/iceberg/hivelink/core/TestReadFileWithCaseMismatch.java
Labels: CORE, BUILD

#103 Remove `activeSparkSession`
  spark2/src/main/java/org/apache/iceberg/spark/source/Reader.java
Labels: SPARK

#106 Disable default value preserving
  core/src/main/java/org/apache/iceberg/SchemaParser.java
  core/src/test/java/org/apache/iceberg/TestSchemaParserForDefaultValues.java
Labels: CORE

#93 [LI][Avro] Do not reorder elements inside a Avro union schema
  core/src/main/java/org/apache/iceberg/avro/PruneColumns.java
Labels: CORE

#107 Handle single type union for deep nested schema
  core/src/main/java/org/apache/iceberg/avro/AvroSchemaVisitor.java
  spark/src/test/java/org/apache/iceberg/spark/data/TestSparkAvroUnions.java
Labels: SPARK, CORE

#104 Handle non-nullable union of single type for ORC spark non-vectorized reader
  orc/src/main/java/org/apache/iceberg/orc/ORCSchemaUtil.java
  orc/src/main/java/org/apache/iceberg/orc/OrcSchemaVisitor.java
  orc/src/main/java/org/apache/iceberg/orc/OrcSchemaWithTypeVisitor.java
  spark/src/main/java/org/apache/iceberg/spark/data/SparkOrcValueReaders.java
  spark/src/test/java/org/apache/iceberg/spark/data/TestSparkOrcUnions.java
Labels: SPARK, ORC

#110 [Hivelink] Refactor support hive non string partition cols to rid of …
  api/src/main/java/org/apache/iceberg/expressions/And.java
  api/src/main/java/org/apache/iceberg/expressions/Or.java
  api/src/main/java/org/apache/iceberg/types/Conversions.java
  hivelink-core/src/main/java/org/apache/iceberg/hivelink/core/LegacyHiveTableOperations.java
  hivelink-core/src/main/java/org/apache/iceberg/hivelink/core/LegacyHiveTableUtils.java
Labels: API
