Repository linkedin/iceberg, pull requests merged in 2022-03, with the labels that each got.

#87 Separate classes under hive legacy package to new hivelink module
  build.gradle
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveCatalogs.java
  hivelink/src/main/java/org/apache/iceberg/hivelink/DirectoryInfo.java
  hivelink/src/main/java/org/apache/iceberg/hivelink/FileSystemUtils.java
  hivelink/src/main/java/org/apache/iceberg/hivelink/HiveExpressions.java
  hivelink/src/main/java/org/apache/iceberg/hivelink/HiveSchemaWithPartnerVisitor.java
  hivelink/src/main/java/org/apache/iceberg/hivelink/HiveTypeToIcebergType.java
  hivelink/src/main/java/org/apache/iceberg/hivelink/HiveTypeUtil.java
  hivelink/src/main/java/org/apache/iceberg/hivelink/LegacyHiveCatalog.java
  hivelink/src/main/java/org/apache/iceberg/hivelink/LegacyHiveTable.java
  hivelink/src/main/java/org/apache/iceberg/hivelink/LegacyHiveTableOperations.java
  hivelink/src/main/java/org/apache/iceberg/hivelink/LegacyHiveTableScan.java
  hivelink/src/main/java/org/apache/iceberg/hivelink/LegacyHiveTableUtils.java
  hivelink/src/main/java/org/apache/iceberg/hivelink/MergeHiveSchemaWithAvro.java
  hivelink/src/test/java/org/apache/iceberg/hivelink/HiveMetastoreTest.java
  hivelink/src/test/java/org/apache/iceberg/hivelink/ScriptRunner.java
  hivelink/src/test/java/org/apache/iceberg/hivelink/TestHiveExpressions.java
  hivelink/src/test/java/org/apache/iceberg/hivelink/TestHiveMetastore.java
  hivelink/src/test/java/org/apache/iceberg/hivelink/TestHiveSchemaConversions.java
  hivelink/src/test/java/org/apache/iceberg/hivelink/TestLegacyHiveTableScan.java
  hivelink/src/test/java/org/apache/iceberg/hivelink/TestMergeHiveSchemaWithAvro.java
  hivelink/src/test/resources/hive-schema-3.1.0.derby.sql
  settings.gradle
  spark2/src/main/java/org/apache/iceberg/spark/source/Reader.java
  spark3/src/main/java/org/apache/iceberg/spark/source/SparkBatchScan.java
Labels: SPARK, HIVE, BUILD

#92 [LI] Align default value validation align with avro semantics in terms of nullable (nested) fields
  api/src/main/java/org/apache/iceberg/types/Types.java
  core/src/main/java/org/apache/iceberg/avro/AvroSchemaUtil.java
  core/src/main/java/org/apache/iceberg/avro/SchemaToType.java
  core/src/test/java/org/apache/iceberg/avro/TestSchemaConversions.java
Labels: CORE, API

#94 [LI][Spark][Avro] read avro union using decoder instead of directly returning v…
  spark/src/main/java/org/apache/iceberg/spark/data/SparkValueReaders.java
  spark/src/test/java/org/apache/iceberg/spark/data/TestSparkAvroUnions.java
Labels: SPARK

#95 Remove additional logging for HiveMetadataPreservingTableOperator
  hive-metastore/src/main/java/org/apache/iceberg/hive/HiveMetadataPreservingTableOperations.java
Labels: HIVE
