Repository linkedin/iceberg, pull requests merged in 2025-09, with the labels that each got.

#176 Update sonatype secrets
  .github/workflows/java-ci.yml
Labels: INFRA

#182 Update scm and developer info
  deploy.gradle
Labels: BUILD, INFRA

#185 Remove the RC version number from version file and the project version.
  build.gradle
  spark/v3.1/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DropIdentifierFieldsExec.scala
  spark/v3.2/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DropIdentifierFieldsExec.scala
  spark/v3.3/spark-extensions/src/main/scala/org/apache/spark/sql/execution/datasources/v2/DropIdentifierFieldsExec.scala
  version.txt
Labels: SPARK, BUILD

#187 Remove the RC version number from the iceberg build.
  build.gradle
  version.txt
Labels: BUILD

#190 Adding SparkSQLProperty for split-size
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.1/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.2/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkReadConf.java
  spark/v3.3/spark/src/main/java/org/apache/iceberg/spark/SparkSQLProperties.java
  version.txt
Labels: SPARK
